body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: blue;
  color: white;

  justify-content: space-between;
  align-items: stretch;

  height: 500px;
}

.item {
  background-color: orange;
  border: 1px solid black;
  padding: 10px;
  width: 25%;
  height: 100px;
}

#hero-section {
  width: 100%;
  height: 50vh;
  background-color: black;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-section button {
  border: 0;
  background-color: blue;
  color: white;
  padding: 10px 20px;
  font-size: 1.25rem;
  border-radius: 3rem;
  cursor: pointer;
}

#hero-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero-section2 {
  position: relative;
  width: 100%;
  height: 50vh;
  background-color: blue;
  color: white;
}

#hero-section2 h2 {
  position: absolute;
  font-size: 100px;
  margin: 0;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#grow-example {
  background-color: blueviolet;
  display: flex;
}

#aside-item {
  width: 500px;
  height: 100px;
  background-color: aquamarine;
  flex-shrink: 0;
  order: 1;
}

#big-item {
  width:500px;
  height: 100px;
  background-color: chocolate;
  flex-shrink: 1;
  order: 0;
}